/* ============================= */
/* BASIC SETUP */
/* ============================= */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    
    font-family: 'Titillium Web', sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 1.5rem;
}
/* HEADING */
h1 {
    font-size: 3.9rem;
    color : #fff;
    font-weight: bold;
    line-height: 4rem;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
    height: 0;
    visibility: hidden;
}

ul {
    list-style-type: none;
}

/* ============================= */
/* REUSABLE COMPONENT */
/* ============================= */
.row{
    max-width: 114rem;
    margin: auto;
}

section {
    padding: 8rem 0;
   
}
h2 {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 2rem;
    color: #000;
    letter-spacing: .3rem;
    text-transform: uppercase;
    text-align:center
}

h2::after{
    content: "";
    height: .4rem;
    display: block;
    background: #009999;
    width: 8.5rem;
    margin: auto;
    margin-top: 2rem;
}
h3 {
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;
    
}
.Box {
    padding: 1%;
}
.Box p{
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 2.5rem;
    color: #000;
}

/* Button */
.btn:link,
.btn:visited,
btn {
    background: #333;
    border-bottom: .3rem solid #000;
    padding: 1rem 4rem;
    border-radius: .3rem;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 4.5rem;
    
}

/* PARAGRAPH */
.service-description {
    font-size: 1.8rem;
    width: 60%;
    margin: auto;
    line-height: 3rem;
}
    
/* ============================= */
/* HEADER SECTION */
/* ============================= */
header {
    background:-webkit-gradient(linear,left top, left bottom,from(rgb(153, 102, 153, 0.9)),to(rgb(153, 102, 153,0.9))),
    url("../css/bgimg/header_bg.jpg");
    background:linear-gradient(rgb(153, 102, 153, 0.9),rgb(153, 102, 153,0.9)),
    url("../css/bgimg/header_bg.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 85vh;
    position: relative;
}
.logo {
    height: 2.5rem;
    width: auto;
    margin-top: 3.5rem;
    float: left;
}

/* ======================== */
/* NAVIGATION */
/* ======================== */

.setMainNav {
    float: right;
    margin-top: 4rem;
}
.setMainNav li{
    display:inline-block;
    margin-left: 1rem;
}
.setMainNav li:first-child{
    margin:0;
}
.setMainNav li a:link,
.setMainNav li a:visited{
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: rgb(102, 51, 102, 0);
    padding: .4rem 1rem;
    border-radius: .5rem;
    display: inline-block;
    font-size: 1.6rem;
    -webkit-transition: .3s;
    transition: .3s;
    
}
.setMainNav li:hover a:link,
.setMainNav li:hover a:visited{
   background: rgb(102, 51, 102, 1);
}
/* STICKY NAV */
.sticky{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(153, 102, 153,0.9);
    padding: 1rem 0;
    z-index: 9999;
    
}
.sticky .logo{
    margin-top: 0;
}
.sticky .setMainNav{
    margin-top: 0;
}
.sticky .mobile-menu span{
    margin-top: 0;
    padding-top:.5rem;
}

.header_active {
    background: rgb(102, 51, 102, 1);
    border-radius: .5rem;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    width: 114rem;
}
.btn-hero:link,
.btn-hero:visited {
    background: #ff6633;
    border-bottom: .3rem solid #cc6633;
}
.btn-hero:hover{
    background: #e44915;
}
.mobile-menu span{
    color: #fff;
    font-size: 4rem;
    float: right;
    margin-top: 2rem;
    display: none;
}
.mobile-menu span:hover{
    cursor: pointer;
}
.overlay {
    width: 0;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 1;
    overflow: hidden;
    
    -webkit-transition: 0.5s;
    
    transition: 0.5s;
}
.overlay .overla-content{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-25%,-75%);
    transform: translate(-25%,-75%)
}
.overlay .closeBtnDesign{
    color: #999;
    font-size: 5rem;
    text-decoration: none;
    float: right;
    position: relative;
    top: 5rem;
    right: 5rem;
   
}
.overlay .overla-content a{
    text-decoration: none;
    color: #999;
    font-size: 3rem;
    display: block;
    padding: 1rem 0;
    width: 100%;
    margin: 2rem 0;
    text-transform: uppercase;
     
}
.overlay a:hover{
    color: #fff;
}

/* ============================= */
/* SERVICES SECTION */
/* ============================= */

.service-section {
    background:-webkit-gradient(linear,left top, left bottom,from(rgb(0, 204, 153,0.9)),to(rgb(0, 204, 153,0.9))),
        url("../css/bgimg/services_bg.jpg");
    background:linear-gradient(rgb(0, 204, 153,0.9),rgb(0, 204, 153,0.9)),
        url("../css/bgimg/services_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
}
.service-section h2{
    color: #fff;
}
.service-section .Box p{
    color: #fff;
    font-size: 1.6rem;
}
.service_logo{
    height: 12rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

/* ============================= */
/* TEAM SECTION */
/* ============================= */

.team_section {
    text-align: center;
    background:-webkit-gradient(linear,left top, left bottom,from(rgb(231, 241, 238,0.9)),to(rgb(231, 241, 238,0.9))),
        url("bgimg/tean_bg.jpg");
    background:linear-gradient(rgb(231, 241, 238,0.9),rgb(231, 241, 238,0.9)),
        url("bgimg/tean_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    
    
}

.team_section h2{
   color: #333366;
}
.team_section p{
    color: #666666;
}
.team_section h3{
    color: #333333;
    margin-bottom: .7rem;
    
}

.team-image {
    width: 15rem;
    margin-top: 4rem;
    margin-bottom: 3rem;
    border-radius: 10rem;
   
}
.team_section h2::after{
    background: #cccccc;
}
.role{
    color: #33ccff;
    font-size: 1.6rem;
    text-transform: capitalize;
}
.team_section.Box p{
    
    color: #999999;
    
}
.team-image:hover{
    border: 1px solid orange;
}

/* ============================= */
/* SKILL SECTION */
/* ============================= */


.skill_section {
    background:-webkit-gradient(linear,left top, left bottom,from(rgb(255, 255, 255,0.9)),to(rgb(255, 255, 255,0.9))), 
        url("bgimg/skill_bg.jpg");
    background:linear-gradient(rgb(255, 255, 255,0.9),rgb(255, 255, 255,0.9)), 
        url("bgimg/skill_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
    text-align: center;
}
.skill_section h2 {
    color: #333366;
}
.skill_section h2::after{
    background: #ccffff;
}
.skill_section p{
    color: #333366;
}
.skill_section h3{
     color: #333366;
    font-size: 2.4rem;
}
.skill_section .Box{
    margin-top: 5rem;
}
svg.radial-progress circle{
    stroke-width: 5;
}
svg.radial-progress text{
    fill: #333366;
    font-size: 2.4rem;
    font-weight: 300;

}
svg.webDesign circle{
    stroke:#33ccff;
}
svg.CssHtml circle{
    stroke: #cc3399;
}
svg.GraphicsDesign circle{
    stroke: #00cc99;
}
svg.UiUx circle{
    stroke: #ff6633;
}

/* ============================= */
/* PORTFOLIO SECTION */
/* ============================= */
.portfolio_section {
    text-align: center;
    background: #ffcc99;
    color: #333333;
}
.portfolio_section h2{
    color: #333333;
}
.portfolio_section h2::after{
    background: #b36a225c;
}

.portfolio_section p{
     color: #333333;
}
.portfolio_section .button-filter{
    margin-top: 4rem;
}
.portfolio_section .button-filter button{
    padding: 0.6rem 2rem;
    background: #aba39b63;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #333333;
    margin: 0 0.5rem;
    border-radius: 5px;
}
.portfolio_section .button-filter .active{
    background: #ffffff;
     border-top: 2px solid #000;
}

.portfolio_section .button-filter button:hover{
    background: #ffffff;
    border-top: 2px solid #000;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;

}
.portfolio_section img{
    width: 100%;
    height: 30rem;
    margin-top: 4rem;
}
.portfolio_section .col:nth-child(3){
    margin-left:0;
}
.portfolio_section .portfolio-btn{
    background: #00cc99;
    padding: 2rem 3rem;
    border-bottom: .3rem solid #009999;
    font-weight: 600;
}
.portfolio_section .portfolio-btn:hover{
    background: #11a07c;
}
.portfolio_section .mixitup-control-active {
    background: #fff;
}


/* ============================= */
/* TESTIMONIAL SECTION */
/* ============================= */
.testimonial_section .col:nth-child(3){
    margin-left: 0;
}
.testimonial_section{
    text-align: center;
    background: #cc3399;
    color: #ffffff;
}
.testimonial_section h2{
    color: #ffffff;
}
.testimonial_section h2::after{
    background: #9c4343ed;
}
.testimonial_section p{
    color: #ffffff;
}
.testimonial_section .Box img{
    width: 100%;
    width: 14rem;
    height: 14rem;
    border-radius: 10rem;
}
.testimonial_section .Box .aboutPerson{
    text-align: left;
}
.testimonial_section .Box p{
    font-size: 2.1rem;
    margin-top: 0;
    margin-bottom: 3rem;
    line-height: 2.5rem;
    font-style: italic;
}
.testimonial_section .Box h3{
    margin-bottom: 1.2rem;
}
.testimonial_section .Box .aboutPosition{
    color: #ffcc99;
    font-size: 1.8rem;
}
.testimonial_section .Box{
    margin: 3rem 0rem;
}
.testimonial_section .Box img:hover{
    border: .2rem solid orange;
}

/* ============================= */
/* CONTACT SECTION */
/* ============================= */

.contact_section {
     text-align: center;
    background: #3366cc;
     color: #ffffff;
    border-bottom: .1rem solid #ffffff
}
.contact_section h2{
    color: #ffffff;
}
.contact_section h2::after{
    background: #0b539ad9;
}
.contact_section form{
    margin-top: 5rem;
    width: 60%;
    margin-left: 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.contact_section input[type="text"],
.contact_section input[type="email"],
.contact_section textarea{
    background: #3434634f;
    border: 2px solid #33336696;
    width: 100%;
    padding: 1.5rem;
    font-size: 1.8rem;
    border-radius: .5rem;
    color: #fff;
}
.contact_section form ::-webkit-input-placeholder{
    color: #fff;
}
.contact_section form :-ms-input-placeholder{
    color: #fff;
}
.contact_section form ::placeholder{
    color: #fff;
}

.contact_section .contactButton{
    padding: 1rem 5rem;
    font-size: 1.8rem;
    background: #33ccff;
    border-bottom: .2rem solid #3399cc;
    color: #ffffff;
    margin-top: 4rem;
    border-radius: 5px;
}
.contact_section .contactButton:hover{
    background: #1999c3;
}
/* ============================= */
/* FOOTER SECTION */
/* ============================= */

footer{
    background: #1d49a2;
    padding: 4rem;
    font-size: 2.4rem;
    font-weight: 600;
}
footer .Box a:link,
footer .Box a:visited{
    text-decoration: none;
    color: #ffffff;
    text-transform: capitalize;
}
footer .Box a:hover{
    color: #33ccff;
}